*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(hsla(0, 0%, 0%, .8)), url(./assets/stars.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
p{
    color: white;
}


#carousel{
    overflow: hidden;
    width: 75%;
    #slide{
        display: flex;
        //gap: 4em;
        //width: 1052px;
        width: calc(308px * 12);
        animation: slide 20s linear infinite;
        &:hover{
            animation-play-state: paused;
        }
        button{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 308px;
            height: 457.8px;
            //border-radius: 10px;
            flex-shrink: 0;
            transition: all .4s ease-in-out;
            opacity: .7;
            box-shadow: inset 0 5px 10px hsla(0, 0%, 0%, .5);
            &:hover{
                opacity: 1;
            }
        }
    }
}
@keyframes slide {
    0% {transform: translateX(0);}
    100% {transform: translateX(calc(-308px * 6));}
}
img{
    display: block;
}

.pop-up{
    position: absolute;
    background: black;
    width: 68em;
    padding: 1em;
    display: none;
    .close{
        display: flex;
        justify-content: flex-end;
        button{
            height: fit-content;
        }
    }
    #trailer{
        margin-top: 1em;
        video{
            width: 100%;
        }
    }
}
